{# Footer #}
<div class="ui inverted vertical footer segment" style="padding: 4% 0">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'footer.links.title' | trans() }}</h4>
                <div class="ui inverted link list">
                    <a href="{{ path('homepage') }}" class="item">{{ 'footer.links.first' | trans }}</a>
                    <a href="{{ path('help') }}" class="item">{{ 'footer.links.second' | trans }}</a>
                    <a href="{{ path('fos_user_registration_register') }}" class="item">{{ 'footer.links.third' | trans }}</a>
                    <a href="{{ path('fos_user_security_login') }}" class="item">{{ 'footer.links.fourth' | trans }}</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">{{ 'footer.grp2.title' | trans() }}</h4>
                <div class="ui inverted link list">
                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale' : 'fr' })) }}" class="item">Français</a>
                    <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale' : 'en' })) }}" class="item">English</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header"><a class="item" href="https://github.com/Eronne/DropandGo" style="color: #fff;">Drop&Go - Eronne <i class="github icon"></i></a></h4>
                <p>{{ 'footer.description' | trans() }}</p>
                <a href="{{ path('fos_user_registration_register') }}" class="ui teal basic button">S'inscrire</a>
                <a href="{{ path('fos_user_security_login') }}" class="ui teal basic button">Se connecter</a>
            </div>
        </div>
    </div>
</div>