{% extends 'template.html.twig' %}

{% block title %}Aide{% endblock %}

{% block body %}
    <div class="container">
        <h1>Drop&Go - {{ 'title' | trans }}</h1>


        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-account-add"></i>{{ 'collapsible1.header' | trans }}</div>
                <div class="collapsible-body">
                    <p>{{ 'collapsible1.body' | trans({'%link_start%' : '<a href="'~path('fos_user_registration_register')~'">', '%link_end%' : '</a>'}) | raw }}</p>
                    <p>Il vous faudra ensuite remplir le formulaire d'inscriptoin et le tour sera joué !</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-account"></i>{{ 'collapsible2.header' | trans }}</div>
                <div class="collapsible-body">
                    <p>{{ 'collapsible2.body1' | trans({'%link_start%' : '<a href="'~path('fos_user_security_login')~'">', '%link_end%' : '</a>'}) | raw }}</p>
                    <p>{{ 'collapsible2.body2' | trans }}</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-account-o"></i>{{ 'collapsible3.header' | trans }}</div>
                <div class="collapsible-body">
                    <p>{{ 'collapsible3.body1' | trans }}</p>
                    <p>{{ 'collapsible3.body2' | trans({'%link_start%' : '<a href="'~path('fos_user_security_logout')~'">', '%link_end%' : '</a>'}) | raw }}</p>
                    <p>{{ 'collapsible3.body3' | trans }}</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-globe"></i>{{ 'collapsible4.header' | trans }}</div>
                <div class="collapsible-body">
                    <p>{{ 'collapsible4.body1' | trans }}</p>
                    <p>{{ 'collapsible4.body2' | trans }}</p>
                    {# Todo : Modifier les liens de changement de langue #}
                    <p>{{ 'collapsible4.body3' | trans({'%link1_start%' : '<a href="'~path('homepage')~'">', '%link1_end%' : '</a>'}) | trans({'%link2_start%' : '<a href="'~path('help')~'">', '%link2_end%' : '</a>'}) | raw }}</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-cloud"></i>{{ 'collapsible5.header' | trans }}</div>
                <div class="collapsible-body">
                    <p>{{ 'collapsible5.body1' | trans({'%link_start%' : '<a href="'~path('storage')~'">', '%link_end%' : '</a>'}) | raw }}</p>
                    <p>{{ 'collapsible5.body2' | trans }}</p>
                    <p>{{ 'collapsible5.body3' | trans({'%link1_start%' : '<a href="'~path('fos_user_security_login')~'">', '%link1_end%' : '</a>'}) | trans({'%link2_start%' : '<a href="'~path('fos_user_registration_register')~'">', '%link2_end%' : '</a>'}) | raw }}</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-cloud-upload"></i>{{ 'collapsible6.header' | trans }}</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-cloud-download"></i>{{ 'collapsible7.header' | trans }}</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-copy"></i>{{ 'collapsible8.header' | trans }}</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="zmdi zmdi-delete"></i>{{ 'collapsible9.header' | trans }}</div>
                <div class="collapsible-body">
                    <span>Lorem ipsum dolor sit amet.</span>
                </div>
            </li>
        </ul>

        <p>Pour tout autres questions, vous pouvez dès à présent <a href="#">contacter le support en ligne.</a></p>
        <p>Nous allons résoudre votre problème en un rien de temps !</p>
    </div>
{% endblock %}