{% trans_default_domain 'FOSUserBundle' %}

<div class="main">
    <div class="full-page">
        {% include 'components/menu.html.twig' %}

        <div class="panel">
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register ui form'}}) }}
            <h1>S'inscrire</h1>

            <div class="field">
                {{ form_label(form.email) }}
                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'form.email'|trans } }) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="field">
                {{ form_label(form.username) }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'form.username'|trans } }) }}
                {{ form_errors(form.username) }}
            </div>

            <div class="field">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'form.password'|trans } }) }}
                {{ form_errors(form.plainPassword.first) }}
            </div>

            <div class="field">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'form.password_confirmation'|trans } }) }}
                {{ form_errors(form.plainPassword.second) }}
            </div>

            {{ form_rest(form) }}

            <input class="ui button teal" type="submit" value="{{ 'registration.submit'|trans }}" />
            {{ form_end(form) }}
        </div>

        <div class="languages">
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale' : 'fr' })) }}" class="ui inverted basic button">Français</a>
            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params') | merge({'_locale' : 'en' })) }}" class="ui inverted basic button">English</a>
        </div>
    </div>
</div>