{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s8">
                    <i class="zmdi zmdi-account prefix"></i>
                    <input class="validate" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    <label for="username" data-error="Le nom d'utilisateur est incorrecte">{{ 'security.login.username'|trans }}</label>
                </div>
                <div class="input-field col s8">
                    <i class="zmdi zmdi-lock prefix"></i>
                    <input class="validate" type="password" id="password" name="_password" required="required" />
                    <label for="password" data-error="Le mot de passe est incorrecte">{{ 'security.login.password'|trans }}</label>
                </div>
                <div class="input-field col s8">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                {# Todo: forgotten password #}


                <div class="input-field col s8">
                    <button class="btn waves-effect waves-light" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Envoyer
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</form>

