{% extends 'template.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/fosuser.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="">
            {# Flash message #}
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {# Inputs and submit button #}
            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% if error is defined and error %}
        <script>
            jQuery(document).ready(function () {
                Materialize.toast("{{ error.messageKey|trans(error.messageData, 'security')}}", 4000);
            });
        </script>
    {% endif %}
{% endblock %}